body {
    width: 340px;
    height: 380px;
}

#left-contents {
    float: left;
}

#right-contents {
    float: right;
    text-align: center;
}

#updated_content {
    color: #fd9e16;
}

#pip_button {
    width: 100%;
    height: 10%;
    cursor: pointer;
    margin: 10px auto;
    border: none;
    color: #ffffff;
    font-size: large;
    background-color: #0096fa;
}

#pip_button:hover {
    background-color: #0086e0;
}